body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.navigation .link {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo {
  color: #2e2f42;
}

.navigation .menu-link {
  font-weight: 500;
  font-size: 16px;
  font-family: Raleway;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation .menu-link:hover,
.navigation .menu-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address .link {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address .link:hover,
.address .link:focus {
  color: #404bbf;
}

.heading {
  background-color: #2e2f42;
}

.heading .title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.02em;
}

.heading .button {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

.heading .button:hover,
.heading .button:focus {
  background-color: #404bbf;
}

.approach .title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.approach .describe {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
}

.team .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team .photo-team {
  background-color: #ffffff;
}

.team .worker {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.team .position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #434455;
  letter-spacing: 0.02em;
}

.portfolio .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio .name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.portfolio .branch {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.footer {
  background-color: #2e2f42;
}

.footer .link {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer .logo {
  color: #f4f4fd;
}

.footer .info {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}